<!DOCTYPE html>
<html>
  <head>
    <title>Payment Ops App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">
            <div class="logo"><img src="/images/logo.png" class="img-responsive"></div>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right user-panel-container">
            <li class="active">
              <!-- user info will go here soon -->
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <%= yield %>

  </body>
</html>
